/* Sessão - Serviços */
.services {
  background: #111;
  color: #fff;
}

.services .title::before {
  background: #fff;
}

.services .title::after {
  background: #111;
  content: "O que ofereço";
}

/* CARDS */
.services .serv-content .card .box{
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {
  background: rgb(255, 0, 0);
}

.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* ICON */
.services .serv-content .card ion-icon { 
  font-size: 70px;
  color: rgb(255, 0, 0);
}

.services .serv-content .card:hover ion-icon {
  color: #fff;
}